<!-- Link -->

<a href="#" class="link-arrow">Learn more</a>

<!-- Badge -->
<span class="badge badge--primary">10% Off</span>

<!-- List -->
<ul class="list--tick">
  <li class="list__item">Item 1</li>
  <li class="list__item">Item 2</li>
  <li class="list__item">Item 3</li>
</ul>

<!-- icons -->

<span class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#chevron"></use>
  </svg>
</span>

<!-- Buttons -->
<button class="btn btn--outline btn--block">Buy Now</button>
<a href="#" class="btn btn--primary btn--block">Buy</a>

<!-- Search -->
<div class="search-container">
  <input type="text" class="search" placeholder="Enter domain name here" />
  <button class="btn btn--accent">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#search"></use>
    </svg>

    <span>Search</span>
  </button>
</div>

<!-- Card -->

<div class="card" style="width: 30%; margin: 30px 30px">
  <header class="card__header card--primary">Title</header>
  <div class="card__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis expedita
    quam magnam aspernatur voluptas! Recusandae deserunt commodi at perferendis
    odio quis. Mollitia nobis dolorum rerum aliquam obcaecati ut animi dolor.
  </div>
</div>

<!-- Plan -->
<div class="plan plan--popular">
  <div class="card">
    <header class="card__header card--primary">
      <h3 class="plan__name">Entry</h3>
      <span class="plan__price">$14</span>
      <span class="plan__billing-cycle">/month</span>
      <span class="badge badge--primary badge--small">10% Off</span><br />
      <span class="plan_desc">Easy start on the Cloud</span>
    </header>
    <div class="card__body">
      <ul class="list--tick">
        <li class="list__item">Unlimited code pens</li>
        <li class="list__item">24/7 Support</li>
        <li class="list__item">125GB SSD Storage</li>
        <li class="list__item">16GB RAM</li>
        <li class="list__item">12 Core CPU (Intel/AMD)</li>
      </ul>
      <button class="btn btn--outline btn--block">Buy Now</button>
    </div>
  </div>
</div>

<!-- Media -->

<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start and managed updates</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
      eligendi iusto et dolores! Facere non aperiam beatae aspernatur error,
      qui, rerum omnis sapiente ipsa incidunt, deleniti quia. Inventore, modi
      asperiores.
    </p>
  </div>
</div>

<!-- Quotes -->

<blockquote class="quotes">
  <p class="quote__desc">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, sit aperiam
    et tempora dolor autem ab consequuntur dolores quia, quis voluptate quaerat
    quas eligendi mollitia odit blanditiis qui nobis corrupti?
  </p>
  <div class="media">
    <div class="media__image">
      <svg class="icon icon--primary quote__line">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title quote__author">Jhone Lumeo</h3>
      <p class="quotes__org">ABC Company</p>
    </div>
  </div>
</blockquote>

<!-- Grid -->

<div class="grid grid--1x3">
  <div style="height: 100px; background-color: aqua"></div>
  <div style="height: 100px; background-color: black"></div>
</div>

<!-- Testimonial -->

<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="Customer" />
      <span class="icon-container icon-container__accent">
        <svg class="icon--small icon--white">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quotes">
      <p class="quote__desc">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, sit
        aperiam et tempora dolor autem ab consequuntur dolores quia, quis
        voluptate quaerat quas eligendi mollitia odit blanditiis qui nobis
        corrupti?
      </p>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">Jhone Lumeo</h3>
          <p class="quotes__org">ABC Company</p>
        </div>
      </div>
    </blockquote>
  </div>
</div>

<!-- Callout -->

<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet,
        maiores quidem mollitia necessitatibus harum corporis assumenda. Esse
        eveniet, officiis voluptates, non sapiente quisquam corporis nesciunt ut
        aut doloribus molestiae iusto.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">GET STARTED</a>
  </div>
</div>

<!-- Collapsable -->

<div class="collapse collapse--expanded">
  <header class="collapse__header">
    <h2 class="collapse__heading">Item 1</h2>
    <svg class="icon icon--white collapse__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapse__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro assumenda eum
    deserunt mollitia facilis aliquam blanditiis, hic ab, officiis qui, dolores
    harum tenetur odio numquam distinctio labore animi sed dolorum.
  </div>
</div>

<!-- Blocks -->
<section class="block block--dark block--skewed-left">
  <div class="block__header container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At quae enim,
      expedita distinctio earum est velit fugiat cum aliquid doloribus
      blanditiis laborum recusandae perferendis veritatis. Distinctio molestias
      assumenda animi quaerat.
    </p>
  </div>
</section>
<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At quae enim,
      expedita distinctio earum est velit fugiat cum aliquid doloribus
      blanditiis laborum recusandae perferendis veritatis. Distinctio molestias
      assumenda animi quaerat.
    </p>
  </div>
</section>
<section class="block block--dark block--skewed-right">
  <div class="block__header container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At quae enim,
      expedita distinctio earum est velit fugiat cum aliquid doloribus
      blanditiis laborum recusandae perferendis veritatis. Distinctio molestias
      assumenda animi quaerat.
    </p>
  </div>
</section>

<!-- Navbar -->

<nav class="nav collapse collapse--expanded">
  <a class="nav__brand" href="/"><img src="images/logo.svg" alt="logo" /></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list collapse__content">
    <li class="nav__item"><a href="/">VPS</a></li>
    <li class="nav__item"><a href="/">Domain</a></li>
    <li class="nav__item"><a href="/">Hosting</a></li>
    <li class="nav__item"><a href="/">Pricing</a></li>
  </ul>
</nav>

<!-- Hero -->
<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Code Flawlessly Over the Cloud.</h1>
      <p class="hero__tagline">
        Build your dream project over cloud, in the device of your choice.
      </p>
      <a href="#" class="btn btn--accent btn--stretched">Start Now</a>
    </header>
    <img class="hero__image" src="images/banner.webp" alt="banner" />
  </div>
</section>

<!-- Serch content -->

<section class="block container block-domain">
      <header class="block__header">
        <h2>Starting at as low as $5</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
          libero.
        </p>
      </header>
      <div class="search-container">
        <input
          type="text"
          class="search"
          placeholder="Search"
          data-placeholder-desktop="Enter your preferred language"
        />
        <button class="btn btn--accent">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#search"></use>
          </svg>

          <span>Search</span>
        </button>
      </div>

      <ul class="list block-domain__prices">
        <li><img src="images/icons8-java.gif"> <span>Java</span></span></li>
        <li><img src="images/icons8-python.gif"> <span>Python</span></li>
        <li><img src="images/icons8-react.gif"> <span>React</span></li>
        <li><img src="images/icons8-rust-programming-language.gif"> <span>Rust</span></li>
        <li><img src="images/icons8-javascript.gif"> <span>Javascript</span></li>
        <li><img src="images/icons8-html-filetype.gif"> <span>HTML</span></li>
      </ul>
    </section>